.programming {
  display: inline-block;
  width: 30%;
}

.main-skills {
    width: 100%;
    height: auto;
    margin-right: 50%;
    font-size: 10px;
}
ul {
    color: #EFEBE9;
    list-style: none;
    display: block;
    padding-left: 20px;
    padding-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*list-style-type: disc;*/
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.bottom-nav img {
  height: 45px;
  width: 45px;
  margin: 8px 75px 8px 0px;
  position: relative;
  display: inline-flex;
}

.bottom-nav {
    bottom: 0px;
    position: fixed;
    background-color: #F8F8F8;
    width: 100%;
    z-index: 1;
    text-align: center;
    display: run-in;
    max-height: 130px;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 725px) {
    .bottom-nav img {
        height: 30px;
        width: 30px;
        margin: 8px 55px 8px 0px;
        position: relative;
    }
}
@media only screen and (max-width: 450px) {
    .bottom-nav img {
        height: 25px;
        width: 25px;
        position: relative;
        margin: 8px 35px 8px 0px;
    }
}
@media only screen and (max-width: 235px) {
    .bottom-nav img {
        height: 15px;
        width: 15px;
        position: relative;
        margin: 8px 10px 8px 0px;
    }
}

h2 {
    padding: 15px 0px 25px 0px;
    font-family: 'Berkshire Swash', cursive;
}


.programming-skill {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.console-header {
  background: #CFD8DC;
  height: 20px;
}

.console-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin-left: 5px;
}

.console-buttons {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.btn-1 {
  background: #8BC34A;
}

.btn-2 {
  background: #FFB74D;
}

.btn-3 {
  background: #D32F2F;
}

.no-top-padding {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 0px;
}

.html-1 {
  color: #EF5350;
}

.html-2 {
  color: #FFCC80;
}
