.nav {
    width: 50%;
    margin: auto;
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 33px 0px 0px 0px;
    font-family: 'Courgette', cursive;
}

.nav a {
  color: black;
}

.nav a:hover {
  color: #FF1493;
}
